@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    margin: 0;
    padding: 0;
    height: 100vh; /* 뷰포트 높이에 맞게 설정 */
    width: 100%; /* 뷰포트 너비를 꽉 채우도록 설정 */
}


@font-face {
    font-family: "Tenada";
    src: url("../../TENADA_font/Tenada.ttf");
}

@layer components {
    .skeleton {
        @apply animate-shimmer bg-gradient-custom bg-custom;
    }
}